<div class="landing__container" [class.landing__container-opened]="isOpened">
  <div class="landing-search__container-outer" [class.landing-search__container-outer-hidden]="isOpened">
    <div class="landing-search__container-inner" [class.landing-search__container-inner-hidden]="isOpened">
      <div class="landing-search__title-container">
        <h1 class="landing-search__title">Велкам</h1>
        <span class="landing-search__title-login">
          Войти
        </span>
        <svg-icon class="landing-search__title-login-svg" src="/assets/icons/user.svg"></svg-icon>
      </div>
      <span class="landing-search__title-secondary">Доска объявлений JustFind</span>
      <div class="landing-search__input-container">
        <input class="landing-search__input" placeholder="Поиск">
      </div>
      <span class="landing-search__title-secondary">Хотите что-то продать?</span>
      <div class="landing-search__down-bar">
        <a class="landing-search__down-bar_create">Опубликовать</a>
        <span class="landing-search__down-bar_or">или</span>
        <div class="landing-search__down-bar_reg">
          <span class="landing-search__down-bar_reg-text">зарегистрироваться</span>
          <svg-icon class="landing-search__down-bar_reg-icon" src="/assets/icons/plus.svg"></svg-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-ads__container" [class.landing-ads__container-opened]="isOpened">
    <div class="landing-ads__btns">
      <span class="landing-ads__btns-text">
        Недавние объявления
      </span>
      <span class="landing-ads__btns-all" (click)="isOpened = !isOpened">
        Все
      </span>
    </div>
    <app-filter-list></app-filter-list>
  </div>
  <div class="view-container-outer" [class.view-container-outer-hidden]="!isOpened">

  </div>
</div>
