<div class="cards__container">
  <ng-container *ngFor="let ad of ads">
    <div class="card">
      <img class="card-image"
           src="https://primebeef.ru/images/cms/thumbs/a5b0aeaa3fa7d6e58d75710c18673bd7ec6d5f6d/img_3911_500_306_5_100.jpg"/>
      <div class="card-text__container">
        <span class="card-text__title">{{ad.title}}</span>
        <span class="card-text__secondary">{{ad.city}}</span>
        <div class="card-price-time">
          <span class="card-price-time__price">{{ad.price | localePrice}}</span>
          <span class="card-price-time__time">{{ad.creationDate | timePassed}}</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
