.card {
  background: #F1F8FD;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);
  border-radius: 32px;
  color: #000;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;

  &-title {
    margin: 0;
    color: #000;
  }

  &-image {
    border-radius: 32px;
    height: 110px;
    width: 120px;
    object-fit: cover;
    image-rendering: optimizeQuality;
  }

  &-text {
    &__container {
      display: flex;
      flex-direction: column;
      margin: 16px 20px ;
      width: 250px;
    }

    &__title {
      font-weight: 700;
      font-size: 16px;
    }

    &__secondary {
      font-weight: 400;
      margin-top: 4px;
      font-size: 14px;
      color: #726969;
      line-height: 18px;
    }
  }

  &-price-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;

    &__price {
      font-weight: 500;
      color: #2F80ED;
    }

    &__time {
      font-weight: 400;
      font-size: 14px;
      color: #495155;
    }
  }
}

.cards {
  &__container {
    //overflow: scroll;
  }
}
