/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  outline: none !important;
  font-family: "HelveticaNeueCyr", sans-serif;
}

body {
  margin: 0;
  background-color: #2a2d30;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 600;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-Medium.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-Medium'),
  url('/assets/fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-Heavy.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-Heavy'),
  url('/assets/fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-HeavyItalic.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-HeavyItalic'),
  url('/assets/fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-Black.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-Black'),
  url('/assets/fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-Black.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-UltraLightItalic.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-UltraLightItalic'),
  url('/assets/fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-BlackItalic.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-BlackItalic'),
  url('/assets/fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-BlackItalic.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-ThinItalic.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-ThinItalic'),
  url('/assets/fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-ThinItalic.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-MediumItalic.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-MediumItalic'),
  url('/assets/fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-MediumItalic.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-LightItalic.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-LightItalic'),
  url('/assets/fonts/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-UltraLight.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-UltraLight'),
  url('/assets/fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-BoldItalic.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-BoldItalic'),
  url('/assets/fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-Italic.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-Italic'),
  url('/assets/fonts/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-Italic.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-Roman.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-Roman'),
  url('/assets/fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-Bold.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-Bold'),
  url('/assets/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-Light.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-Light'),
  url('/assets/fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-Light.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/assets/fonts/HelveticaNeueCyr-Thin.eot');
  src: local('/assets/fonts/HelveticaNeueCyr-Thin'),
  url('/assets/fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

